
.movies_page {
    white-space: pre-wrap;
}

.movie {
    margin: 20px;

    display: flex;

}

.movie img {
    max-height: 280px;
    max-width: 200px;
}

.info {
    margin: 10px;

    display: flex;
    flex-direction: column;
}

.info h2, .info h3, .info p {
    margin: 5px;
}

.genres {
    display: flex;
}

.genres > span {
    display: block;
    margin-right: 7px;
}

.additional {
    
}